body {
  font-family: sans-serif;
}

#return-home {
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  width: 35rem;
  margin: 0 auto 3rem auto;
}

a {
  color: #807a7a;
  text-decoration: none;
}
